@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700,900);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: Arial;
}

textarea, button, input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

address {
  font-style: normal;
}

.page__recommended .recommended__process, .page__recommended .recommended__project {
  padding: 15px 0;
}
@media (min-width: 992px) {
  .page__recommended .recommended__process, .page__recommended .recommended__project {
    padding: 20px 0;
  }
}
@media (min-width: 576px) {
  .page__recommended .recommended__process, .page__recommended .recommended__project {
    padding: 40px 0;
  }
}
@media (min-width: 768px) {
  .page__recommended .recommended__process, .page__recommended .recommended__project {
    padding: 60px 0;
  }
}

/* ====== FONTS ====== */
/* ====== MAIN ====== */
body {
  font-family: Inter;
  font-size: 0.75rem;
  line-height: 162.857%;
  /* 22.8/14 */
  color: #94A3B8;
  background: #000;
}
@media (min-width: 768px) {
  body {
    font-size: 0.812rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 0.875rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  font-size: 3rem;
  color: #F1F5F9;
  text-align: center;
  font-weight: 900;
  line-height: 100%;
}
@media (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 5.625rem;
    /* 90/16 */
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 7.5rem;
    /* 120/16 */
  }
}

h2 {
  color: #f1f5f9;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 111%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2rem;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  position: relative;
}
.page__primary::before, .page__primary::after {
  content: "";
  position: absolute;
  -webkit-filter: blur(120px);
          filter: blur(120px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9999px 9999px 9999px 9999px;
  z-index: -1;
  display: none;
}
@media (min-width: 576px) {
  .page__primary::before, .page__primary::after {
    display: block;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@media (min-width: 768px) {
  .page__primary::before, .page__primary::after {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (min-width: 992px) {
  .page__primary::before, .page__primary::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.page__primary::before {
  top: -120px;
  left: -180px;
  width: 564px;
  height: 623px;
  background-color: rgba(125, 244, 6, 0.22);
}
@media (min-width: 768px) {
  .page__primary::before {
    top: -70px;
  }
}
.page__primary::after {
  top: 100px;
  right: -205px;
  width: 552px;
  height: 550px;
  background-color: rgba(168, 85, 247, 0.22);
}
@media (min-width: 768px) {
  .page__primary::after {
    top: 246px;
  }
}
.page__primary > *:not(:last-child) {
  margin: 0 auto 24px;
}
@media (min-width: 576px) {
  .page__primary > *:not(:last-child) {
    margin: 0 auto 32px;
  }
}
@media (min-width: 768px) {
  .page__primary > *:not(:last-child) {
    margin: 0 auto 40px;
  }
}
@media (min-width: 992px) {
  .page__primary > *:not(:last-child) {
    margin: 0 auto 48px;
  }
}
.page__recommended {
  background: #121212;
}
.page__recommended .recommended__project {
  position: relative;
}
@media (min-width: 992px) {
  .page__recommended .recommended__project {
    padding: 88px 0;
  }
}
@media (min-width: 1700px) {
  .page__recommended .recommended__project::before {
    content: "Project";
    position: absolute;
    top: 40%;
    left: -37%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 8rem;
    font-weight: 900;
    line-height: 100%;
    -webkit-text-stroke: 2px transparent;
    color: #121212;
    background: rgba(241, 245, 249, 0.4);
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.page__recommended .recommended__process {
  position: relative;
}
@media (min-width: 992px) {
  .page__recommended .recommended__process {
    padding: 96px 0;
  }
}
@media (min-width: 1400px) {
  .page__recommended .recommended__process::after {
    content: "Process";
    position: absolute;
    top: 40%;
    right: -20%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 8rem;
    font-weight: 900;
    line-height: 100%;
    -webkit-text-stroke: 2px transparent;
    color: #121212;
    background: rgba(241, 245, 249, 0.4);
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.page__ready {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  background: #7DF406;
  border-radius: 24px;
  padding: 50px 10px;
}
@media (min-width: 376px) {
  .page__ready {
    padding: 50px 15px;
  }
}
@media (min-width: 576px) {
  .page__ready {
    padding: 100px 15px;
  }
}
@media (min-width: 768px) {
  .page__ready {
    padding: 130px 15px;
  }
}
@media (min-width: 992px) {
  .page__ready {
    padding: 180px 0 150px;
  }
}
@media (min-width: 1200px) {
  .page__ready {
    padding: 200px 0 165px;
  }
}
@media (min-width: 1400px) {
  .page__ready {
    padding: 221px 0 189px;
  }
}
.page__ready::before, .page__ready::after {
  display: none;
  position: absolute;
  width: 130px;
  height: 130px;
}
@media (min-width: 576px) {
  .page__ready::before, .page__ready::after {
    display: block;
  }
}
.page__ready::before {
  content: url("../img/ellipseLB.svg");
  bottom: 27px;
  left: 41px;
}
.page__ready::after {
  content: url("../img/ellipseRT.svg");
  top: 40px;
  right: 63px;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.03);
}

.circle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  padding: 14.75px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
  transition: -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
  transition: transform 0.24s, box-shadow 0.24s;
  transition: transform 0.24s, box-shadow 0.24s, -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
}
.circle-btn:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
          box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
.circle-btn img {
  width: 16px;
  height: 16px;
  margin: 0 auto;
}
.circle-btn:hover use {
  fill: #000;
}

.nav__title {
  margin: 0 0 5px;
  color: #f1f5f9;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media (min-width: 376px) {
  .nav__title {
    margin: 0 0 8px;
  }
}
@media (min-width: 576px) {
  .nav__title {
    margin: 0 0 10px;
  }
}
@media (min-width: 768px) {
  .nav__title {
    margin: 0 0 12px;
  }
}
@media (min-width: 992px) {
  .nav__title {
    margin: 0 0 16px;
  }
}
@media (min-width: 1200px) {
  .nav__title {
    margin: 0 0 20px;
  }
}
@media (min-width: 1400px) {
  .nav__title {
    margin: 0 0 24px;
  }
}
.nav__list > :not(:last-child) {
  margin: 0 0 6px;
}
@media (min-width: 376px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 8px;
  }
}
@media (min-width: 576px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 10px;
  }
}
@media (min-width: 768px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 12px;
  }
}
@media (min-width: 992px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 14px;
  }
}
@media (min-width: 1200px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 15px;
  }
}
@media (min-width: 1400px) {
  .nav__list > :not(:last-child) {
    margin: 0 0 16px;
  }
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item img {
  margin: 0 8px 0 0;
}
.nav__item a {
  -webkit-transition: letter-spacing 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
  transition: letter-spacing 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
  transition: letter-spacing 0.24s, text-decoration 0.24s, color 0.5s;
  transition: letter-spacing 0.24s, text-decoration 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
}
.nav__item a:hover {
  letter-spacing: 0.5px;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  color: #7DF406;
}

._bg-wrapper {
  background: #121212;
}
._bg-wrapper ._container {
  position: relative;
}
._bg-wrapper ._container img {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 697px;
  pointer-events: none;
  z-index: 1;
}
@media (min-width: 992px) {
  ._bg-wrapper ._container img {
    display: block;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 16px 0 30px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 31px;
}
@media (min-width: 576px) {
  .header {
    margin: 16px 0 60px;
  }
}
@media (min-width: 768px) {
  .header {
    margin: 16px 0 80px;
  }
}
@media (min-width: 992px) {
  .header {
    margin: 16px 0 116px;
  }
}

.header__logo {
  -webkit-transition: -webkit-transform 0.24s;
  transition: -webkit-transform 0.24s;
  transition: transform 0.24s;
  transition: transform 0.24s, -webkit-transform 0.24s;
}
.header__logo:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.header__burger-container {
  display: none;
}
@media (max-width: 992px) {
  .header__burger-container {
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #F1F5F9;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__burger::before {
    top: 0;
    right: 0;
  }
  .header__burger::after {
    bottom: 0;
    right: 0;
  }
  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
  }
  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }
}

.menu {
  display: none;
}
@media (min-width: 992px) {
  .menu {
    display: block;
  }
}
.menu__list {
  display: block;
}
@media (min-width: 992px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu__item {
  color: #F1F5F9;
  font-weight: 500;
  line-height: 142.857%;
  /* 20/14 */
  -webkit-transition: letter-spacing 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
  transition: letter-spacing 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
  transition: letter-spacing 0.24s, text-decoration 0.24s, color 0.5s;
  transition: letter-spacing 0.24s, text-decoration 0.24s, color 0.5s, -webkit-text-decoration 0.24s;
}
.menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}
.menu__item:hover {
  letter-spacing: 0.5px;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  color: #7DF406;
}

.header__button {
  display: none;
}
.header__button .btn {
  background: #7DF406;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 8px 20px;
  border-radius: 18px;
  font-weight: 700;
  color: #000;
  line-height: 142.857%;
  /* 20/14 */
  -webkit-transition: -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
  transition: -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
  transition: transform 0.24s, box-shadow 0.24s;
  transition: transform 0.24s, box-shadow 0.24s, -webkit-transform 0.24s, -webkit-box-shadow 0.24s;
}
.header__button .btn:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
          box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
@media (min-width: 992px) {
  .header__button {
    display: block;
  }
}

.primary__title .title__first-line {
  letter-spacing: -6px;
  line-height: 150%;
}
.primary__title .title__second-line {
  color: #7DF406;
}
.primary__title .title__third-line {
  letter-spacing: -6px;
}
.primary__text {
  width: 100%;
  max-width: 672px;
  padding: 0 32.55px;
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  line-height: 140%;
  /* 28/20 */
}
@media (min-width: 576px) {
  .primary__text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .primary__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  .primary__text {
    font-size: 1.25rem;
  }
}

._o {
  position: relative;
}
._o img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
@media (min-width: 576px) {
  ._o img {
    width: 27px;
    height: 27px;
  }
}
@media (min-width: 768px) {
  ._o img {
    width: 38.4px;
    height: 38.4px;
  }
}
@media (min-width: 992px) {
  ._o img {
    width: 48px;
    height: 48px;
  }
}
._o::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 53px;
  height: 53px;
  border: 3px solid #7DF406;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.06);
}
@media (min-width: 576px) {
  ._o::before {
    top: 7px;
    left: -11px;
    width: 71px;
    height: 71px;
    backdrop-filter: blur(8px);
  }
}
@media (min-width: 768px) {
  ._o::before {
    top: 10px;
    left: -15px;
    width: 100px;
    height: 100px;
    border: 4px solid #7DF406;
    backdrop-filter: blur(12px);
  }
}
@media (min-width: 992px) {
  ._o::before {
    width: 125px;
    height: 125px;
    backdrop-filter: blur(14.6px);
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 11px 6px 11px 16px;
  max-width: 576px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 84px;
  backdrop-filter: blur(12px);
  background-color: #000;
}
@media (min-width: 768px) {
  .search-form {
    padding: 7px 7px 7px 17px;
  }
}
@media (min-width: 992px) {
  .search-form {
    padding: 8px 8px 8px 18px;
  }
}
.search-form__input {
  width: 100%;
  color: #64748B;
  font-size: 0.875rem;
  background: rgba(0, 0, 0, 0);
}
.search-form__input:focus {
  outline: none;
}
@media (min-width: 768px) {
  .search-form__input {
    font-size: 1rem;
  }
}
.search-form__btn {
  position: absolute;
  top: 52px;
  left: 0px;
  width: 100%;
  font-size: 0.75rem;
  color: #000;
  font-weight: 700;
  line-height: 142.857143%;
  /* 20/14 */
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 15px 24px;
  border-radius: 87px;
  background-color: #7DF406;
  -webkit-transition: -webkit-transform 0.1s, -webkit-box-shadow 0.1s;
  transition: -webkit-transform 0.1s, -webkit-box-shadow 0.1s;
  transition: transform 0.1s, box-shadow 0.1s;
  transition: transform 0.1s, box-shadow 0.1s, -webkit-transform 0.1s, -webkit-box-shadow 0.1s;
}
.search-form__btn:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
          box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
@media (min-width: 576px) {
  .search-form__btn {
    padding: 16px 28px;
  }
}
@media (min-width: 768px) {
  .search-form__btn {
    font-size: 0.812rem;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }
}
@media (min-width: 992px) {
  .search-form__btn {
    padding: 16px 32px;
    font-size: 0.875rem;
  }
}

.primary__our-goal {
  margin: 120px auto 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 576px) {
  .primary__our-goal {
    margin: 120px auto 0;
  }
}
@media (min-width: 768px) {
  .primary__our-goal {
    margin: 150px auto 0;
  }
}
@media (min-width: 992px) {
  .primary__our-goal {
    margin: 180px auto 0;
  }
}
@media (min-width: 1200px) {
  .primary__our-goal {
    margin: 218px auto 0;
  }
}

.our-goal {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 16px 24px 32px;
}

.our-goal > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.our-goal > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
@media (min-width: 1200px) {
  .our-goal {
    -ms-grid-columns: 65.28% 48px 1fr 48px 1fr;
    grid-template-columns: 65.28% 1fr 1fr;
    gap: 48px;
  }
}
.our-goal__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  /* 36/30 */
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}
@media (min-width: 376px) {
  .our-goal__text {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  .our-goal__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .our-goal__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .our-goal__text {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .our-goal__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    font-size: 1.875rem;
    text-align: left;
  }
}
.our-goal__clients {
  text-wrap: nowrap;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: center;
}
@media (min-width: 1200px) {
  .our-goal__clients {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: left;
  }
}
.our-goal__awards {
  text-wrap: nowrap;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: center;
}
@media (min-width: 1200px) {
  .our-goal__awards {
    text-align: left;
  }
}

._count {
  color: #7DF406;
  font-size: 2rem;
  font-weight: 900;
  line-height: 100%;
}
@media (min-width: 376px) {
  ._count {
    font-size: 2.25rem;
  }
}
@media (min-width: 576px) {
  ._count {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  ._count {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  ._count {
    font-size: 3.25rem;
  }
}
@media (min-width: 1200px) {
  ._count {
    font-size: 3.75rem;
  }
}

._text {
  color: #64748B;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 133.333333%;
  /* 16/12 */
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  ._text {
    font-size: 0.625rem;
  }
}
@media (min-width: 768px) {
  ._text {
    font-size: 0.687rem;
  }
}
@media (min-width: 992px) {
  ._text {
    font-size: 0.75rem;
  }
}

.project__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px;
}
@media (min-width: 576px) {
  .project__top {
    letter-spacing: -1.2px;
    padding: 0 14px;
    margin: 0 0 32px;
  }
}
@media (min-width: 1200px) {
  .project__top {
    margin: 0 0 64px;
  }
}

.project__title {
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0 16px 0 0;
}
@media (min-width: 768px) {
  .project__title {
    letter-spacing: -1.2px;
  }
}
@media (min-width: 992px) {
  .project__title {
    letter-spacing: -1.8px;
  }
}

.project__nav-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__arrow {
  border: 1px solid rgba(125, 244, 6, 0.2);
}
.project__arrow:first-child {
  margin: 0 8px 0 0;
}
.project__arrow:first-child img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.columns {
  padding: 0 12px 0;
}
@media (min-width: 576px) {
  .columns {
    margin: 0 0 24px 0;
    padding: 0 24px 0;
  }
}
.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.columns__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0 0 12px 0;
  padding: 0;
}
@media (min-width: 576px) {
  .columns__column {
    margin: 0 0 24px 0;
    padding: 0 12px;
  }
}
@media (min-width: 768px) {
  .columns__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (min-width: 992px) {
  .columns__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}
.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 14px;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 576px) {
  .item {
    padding: 24px 24px 16px;
  }
}
@media (min-width: 768px) {
  .item {
    padding: 28px 28px 18px;
  }
}
@media (min-width: 992px) {
  .item {
    padding: 32px 32px 20px;
  }
}
.item::before {
  content: "";
  position: absolute;
  top: -128px;
  right: -128px;
  width: 256px;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  height: 256px;
}
.item > :not(:last-child) {
  margin: 0 0 20px;
}
@media (min-width: 576px) {
  .item > :not(:last-child) {
    margin: 0 0 24px;
  }
}
@media (min-width: 768px) {
  .item > :not(:last-child) {
    margin: 0 0 32px;
  }
}
.item__image {
  width: 88px;
  height: 88px;
  padding: 24px;
  border: 1px solid #262626;
  border-radius: 12px;
}
.item__title {
  font-size: 1.75rem;
}
@media (min-width: 576px) {
  .item__title {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .item__title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .item__title {
    font-size: 2.25rem;
  }
}
.item__link {
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-transition: background-color 0.24s ease-in-out, border 0.24s ease-in, -webkit-box-shadow 0.4s;
  transition: background-color 0.24s ease-in-out, border 0.24s ease-in, -webkit-box-shadow 0.4s;
  transition: background-color 0.24s ease-in-out, border 0.24s ease-in, box-shadow 0.4s;
  transition: background-color 0.24s ease-in-out, border 0.24s ease-in, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.item__link:hover {
  background-color: #7DF406;
  border: 1px solid rgba(158, 255, 0, 0.2);
  -webkit-transition: background-color 0.4s ease-in, border 0.4s ease-in;
  transition: background-color 0.4s ease-in, border 0.4s ease-in;
}
.item__link {
  fill: #ffffff;
}
@media (min-width: 576px) {
  .item__link {
    margin: 32px auto 0;
  }
}

.columns__column:nth-child(1) .item::before {
  background-color: rgba(125, 244, 6, 0.2);
}
.columns__column:nth-child(1) .item__image {
  background-image: linear-gradient(131deg, rgba(158, 255, 0, 0.08) 22%, rgba(158, 255, 0, 0) 71%);
}

.columns__column:nth-child(2) .item::before {
  background-color: rgba(168, 85, 247, 0.2);
}
.columns__column:nth-child(2) .item__image {
  background-image: linear-gradient(131deg, rgba(168, 85, 247, 0.08) 22%, rgba(158, 255, 0, 0) 71%);
}

.columns__column:nth-child(3) .item::before {
  background-color: rgba(251, 191, 36, 0.2);
}
.columns__column:nth-child(3) .item__image {
  background-image: linear-gradient(229deg, rgba(251, 191, 36, 0.08) 22%, rgba(158, 255, 0, 0) 71%);
}

.grid-cards__grid-card {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  gap: 40px;
}
@media (min-width: 376px) {
  .grid-cards__grid-card {
    padding: 26px;
  }
}
@media (min-width: 992px) {
  .grid-cards__grid-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.grid-cards__grid-card .grid-card:nth-child(1) .grid-card__num,
.grid-cards__grid-card .grid-card:nth-child(4) .grid-card__num {
  color: #7DF406;
}
.grid-cards__grid-card .grid-card:nth-child(1) {
  -webkit-transform: rotate(5.78deg);
          transform: rotate(5.78deg);
}
.grid-cards__grid-card .grid-card:nth-child(2) {
  -webkit-transform: rotate(-2.89deg);
          transform: rotate(-2.89deg);
}
.grid-cards__grid-card .grid-card:nth-child(3) {
  -webkit-transform: rotate(1.93deg);
          transform: rotate(1.93deg);
}
.grid-cards__grid-card .grid-card:nth-child(4) {
  -webkit-transform: rotate(-5.78deg);
          transform: rotate(-5.78deg);
}

.grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  padding: 34px 32px;
  min-width: 300px;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}
@media (min-width: 440px) {
  .grid-card {
    max-width: 358px;
  }
}
.grid-card__num {
  color: rgba(255, 255, 255, 0.3);
}
.grid-card__title {
  color: #F1F5F9;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  /* 28/20 */
}
.ready__title {
  position: relative;
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 100%;
  margin: 0 0 40px;
}
@media (min-width: 376px) {
  .ready__title {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }
}
@media (min-width: 576px) {
  .ready__title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .ready__title {
    font-size: 3.5rem;
    letter-spacing: -2px;
  }
}
@media (min-width: 992px) {
  .ready__title {
    font-size: 4.5rem;
    letter-spacing: -3px;
  }
}
@media (min-width: 1200px) {
  .ready__title {
    font-size: 5rem;
    letter-spacing: -4px;
  }
}
@media (min-width: 1400px) {
  .ready__title {
    font-size: 6rem;
    letter-spacing: -4.8px;
  }
}

.ready__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 576px) {
  .ready__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
}
.ready__btns .ready__btn:nth-child(1) {
  color: #fff;
  background: #000;
  border-radius: 9999px;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.25);
          box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.25);
}
@media (min-width: 576px) {
  .ready__btns .ready__btn:nth-child(1) {
    -webkit-box-shadow: inset 2px 4px 2px 0 rgba(255, 255, 255, 0.25);
            box-shadow: inset 2px 4px 2px 0 rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 768px) {
  .ready__btns .ready__btn:nth-child(1) {
    -webkit-box-shadow: inset 2px 5px 3px 0 rgba(255, 255, 255, 0.25);
            box-shadow: inset 2px 5px 3px 0 rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 992px) {
  .ready__btns .ready__btn:nth-child(1) {
    -webkit-box-shadow: inset 2px 6px 3px 0 rgba(255, 255, 255, 0.25);
            box-shadow: inset 2px 6px 3px 0 rgba(255, 255, 255, 0.25);
  }
}
.ready__btns .ready__btn:nth-child(2) {
  color: #000;
  border: 2px solid #000;
  border-radius: 9999px;
}

.ready__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  font-weight: 900;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
@media (min-width: 376px) {
  .ready__btn {
    padding: 10px 15px;
  }
}
@media (min-width: 576px) {
  .ready__btn {
    padding: 12px 20px;
  }
}
@media (min-width: 768px) {
  .ready__btn {
    padding: 14px 25px;
  }
}
@media (min-width: 992px) {
  .ready__btn {
    padding: 16px 30px;
  }
}
@media (min-width: 1200px) {
  .ready__btn {
    padding: 18px 35px;
  }
}
@media (min-width: 1400px) {
  .ready__btn {
    padding: 20px 40px;
  }
}
.ready__btn img {
  margin: 0 0 0 12px;
  width: 8px;
  height: 8px;
}
@media (min-width: 376px) {
  .ready__btn img {
    width: 11px;
    height: 11px;
  }
}
@media (min-width: 768px) {
  .ready__btn img {
    width: 13px;
    height: 13px;
  }
}
@media (min-width: 1200px) {
  .ready__btn img {
    width: 15px;
    height: 15px;
  }
}
.ready__btn:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
          box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.footer {
  position: relative;
  padding: 15px 0;
  background: #121212;
  z-index: 2;
}
@media (min-width: 576px) {
  .footer {
    padding: 30px 0 15px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding: 50px 0 15px;
  }
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px 10px;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 10px;
}
@media (min-width: 376px) {
  .grid-wrapper {
    gap: 25px 14px;
    margin: 0 0 15px;
  }
}
@media (min-width: 576px) {
  .grid-wrapper {
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 20px;
  }
}
@media (min-width: 768px) {
  .grid-wrapper {
    gap: 28px;
    margin: 0 0 40px;
  }
}
@media (min-width: 992px) {
  .grid-wrapper {
    gap: 36px;
    margin: 0 0 60px;
  }
}
@media (min-width: 1200px) {
  .grid-wrapper {
    gap: 42px;
    margin: 0 0 70px;
  }
}
@media (min-width: 1400px) {
  .grid-wrapper {
    gap: 48px;
    margin: 0 0 80px;
  }
}
.grid-wrapper__info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}
.info > :not(:last-child) {
  margin: 0 0 10px;
}
@media (min-width: 376px) {
  .info > :not(:last-child) {
    margin: 0 0 12px;
  }
}
@media (min-width: 576px) {
  .info > :not(:last-child) {
    margin: 0 0 14px;
  }
}
@media (min-width: 768px) {
  .info > :not(:last-child) {
    margin: 0 0 16px;
  }
}
@media (min-width: 992px) {
  .info > :not(:last-child) {
    margin: 0 0 18px;
  }
}
@media (min-width: 1200px) {
  .info > :not(:last-child) {
    margin: 0 0 20px;
  }
}
@media (min-width: 1400px) {
  .info > :not(:last-child) {
    margin: 0 0 22.8px;
  }
}
.info__text {
  max-width: 373px;
}
.info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__links > :not(:last-child) {
  margin: 0 16px 0 0;
}
.info__links ._link:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
          box-shadow: 1px 1px 15px 2px rgb(74, 144.448, 3.552);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
.info__links ._link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.03);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.info__links ._link img {
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
.info__links > :hover {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.footer__bottom {
  max-width: 1312px;
  margin: 0 auto;
  padding: 12px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  color: #475569;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-wrap: nowrap;
}
@media (min-width: 376px) {
  .footer__bottom {
    padding: 14px 16px 0;
  }
}
@media (min-width: 465px) {
  .footer__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 576px) {
  .footer__bottom {
    padding: 16px 16px 0;
  }
}
@media (min-width: 768px) {
  .footer__bottom {
    padding: 20px 16px 0;
  }
}
@media (min-width: 992px) {
  .footer__bottom {
    padding: 24px 16px 0;
  }
}
@media (min-width: 1200px) {
  .footer__bottom {
    padding: 28px 16px 0;
  }
}
@media (min-width: 1400px) {
  .footer__bottom {
    padding: 32px 16px 0;
  }
}
.footer__bottom ._left {
  margin: 0 0 8px;
}
@media (min-width: 465px) {
  .footer__bottom ._left {
    margin: 0;
  }
}
.footer__bottom ._right > :not(:last-child) {
  margin: 0 16px 0 0;
}
@media (min-width: 465px) {
  .footer__bottom ._right > :not(:last-child) {
    margin: 0 32px 0 0;
  }
}
.footer__bottom ._right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}